table{
  border: 1px solid black;
  width: 100%;
}

i{
  margin: 0px 0px 0px 5px;
}

table tr th{
  background-color: #ff80aa50;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px 8px;
}

table tr td{
  border-right: 1px solid black;
  padding: 5px 8px;
}

table .mas-datos:hover{
  background-color: #3358c821;
}

table tr #fecha{
  text-align: center;
  width: 150px;
}

table tr .fecha{
  text-align: center;
}

table tr #opciones{
  text-align: center;
  width: 180px;
}

table tr .opciones{
  display: flex;
  gap: 8px;
  justify-content: center;
}

#contrasenia, #codigo{
  text-align: center;
  width: 150px;
}


.codigo, .contrasenia{
  text-align: center;
}

.notExist{
  font-size: 24px;
}

.titulo{
  display: flex;
}

.title{
  width: 100%;
}

.boton{
  width: max-content;
}

.boton button{
  width: max-content;
}

.equis{
  color: red;
  font-size: 100px;
}

.notExist{
  margin: 0px;
}

.divNotExit{
  border: 1px solid #2148C0;
  padding: 30px 0px;
}

span{
  font-weight: 400;
}

@media (max-width: 860px) {
  
}